@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  padding-top: 3.5rem;
}

h2, h3 {
  font-family: 'Montserrat', sans-serif
}

.dashboard {
  padding-top: 90px;
}

.text-rijks {
  color: #d55140 !important;
}

.landing {
  background: url(../img/background.jpg);
  background-position: 50% 43%;
  background-size: cover;
  padding: 7rem;
  border-radius: 0;
}

.entry {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  font-family: 'Montserrat', sans-serif;
}

.card-img-top {
    width: 100%;
    height: 20em;
    object-fit: cover;
}

.begin {
  padding-top: 5rem
}

/* RIJKS ELEMENTS
-------------------------------------------------- */
.btn-rijks {
  color: #fff;
  background-color: #d55140;
  border-color: #d55140;
}

.btn-rijks:hover {
  color: #d55140;
  background-color: transparent;
  border-color: #d55140;
}

.badge-rijks {
  color: #fff;
  background-color: #d55140;
}

.bar-rijks {
  height: 0.5rem;
  background-color: #d55140;
}


/* AUTHENTICATION SCREEN COMPONENTS
-------------------------------------------------- */
.auth {
  background: url(../img/background.jpg);
  background-position: 50% 43%;
  background-attachment: fixed;
  background-size: cover;
  /* padding: 7rem; */
}

.form-signin {
  position: relative;
  top: 5em;
  padding: 60px;
  margin: auto;
  background-color: #ffffff;
  border-top: 2px solid #d55140;
  max-width: 400px;
}

.btn-font {
  font-family: 'Montserrat', sans-serif;
}

.form-signin input {
  padding: 1.5em;
}

.form-signin input:focus {
  border: 1px solid #d55140;
  outline: none;
  box-shadow: none;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
}

.checkbox {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #d55140;
  background-color: #d55140;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  color: #fff;
  background-color: #ffb5ab;
  border-color: #ffb5ab;
}


/* DASHBOARD COMPONENTS
-------------------------------------------------- */
.navbar.fixed-left {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1030
}

.stats-card h3 {
  font-size: 3rem;
}

.linkcolor {
  color: black;
}

.linkcolor:hover {
  color: black;
}

.statistics {
  margin-top: 20px
}

.editting {
  padding-top: 5rem;
  margin-left: 35px;
}

.edittingform {
  position: relative;
  padding-top: 20px;
  background-color: #ffffff;
  max-width: 400px;
}

.avi {
  margin-left: 65px
}

.editlink {
  padding-top: 0.5em;
}

/* TRANSCRIBE COMPONENTS
-------------------------------------------------- */
.sizemessage {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px
}

.transcribe-preview {
  background-color: whitesmoke;
}

.transcribe-form {
  height: 100vh;
  overflow-y: scroll;
}

.form-transcribe input:focus {
  border: 1px solid #d55140;
  outline: none;
  box-shadow: none;
}

.progress-small {
  height: 0.5rem;
  border-radius: 0;
}


/* SHOP COMPONENTS
-------------------------------------------------- */
.square {
    float:left;
    position: relative;
    width: 100%;
    margin:1.66%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
}
.card-shop {
  border: none;
}
.shop-text {
  font-size: 1.3rem;
}

.button-shop {
  width: 100%;
}
.fe-shopping-cart {
  font-size: 25px;
}
.image-shop {
  width: 100%;
  background-color: gray;
}


/* SETTINGS COMPONENTS
-------------------------------------------------- */
.avatar {
  margin-left: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
}

.profilecard {
  margin-top: 20px;
  padding-top: 1rem;
  padding-bottom: 1rem
}

.leftbadge {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
}

/* ADMIN COMPONENTS
-------------------------------------------------- */
#dragandrophandler {
    border: 2px dotted #0B85A1;
    width: 400px;
    color: #92AAB0;
    text-align: left;
    vertical-align: middle;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    font-size: 200%;
}

#drop-zone {
    width: 720px;
    height: 240px;
    text-align: center;
    padding: 86px 0 0;
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    font-size: 1.25rem;
    background-color: #c8dadf;
    /* position: relative; */
    /* padding: 100px 20px; */
}

.btn-file input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

input[type=file] {
    display: block;
}

#drop-zone .drop-zone-caption {
    font-size: 20px;
    font-weight: 600;
    color: #919fa9;
    margin: 0 0 14px;
}

.projectlinkcolor {
  color: #d55140;
}

.projectlinkcolor:hover {
  color: #d55140;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 60px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media (min-width:768px) {
	.navbar.fixed-left .navbar-nav .nav-item .dropdown-toggle:after {
		border-top: .3em solid transparent;
		border-left: .3em solid;
		border-bottom: .3em solid transparent;
		border-right: none;
		vertical-align: baseline
	}
	.navbar.fixed-left .navbar-nav .nav-item .dropdown-menu {
		left: 100%
	}
}
@media (min-width:768px) {
	.navbar.fixed-left {
    right: auto;
		bottom: 0;
		width: 232px;
		flex-flow: column nowrap;
		align-items: flex-start
	}
	.navbar.fixed-left .navbar-collapse {
		flex-grow: 0;
		flex-direction: column;
		width: 100%
	}
	.navbar.fixed-left .navbar-collapse .navbar-nav {
		flex-direction: column;
		width: 100%
	}
	.navbar.fixed-left .navbar-collapse .navbar-nav .nav-item {
		width: 100%;
    padding-top: 1rem;
	}
	.navbar.fixed-left .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
		top: 0
	}
}
@media (min-width:768px) {
	.dashboard {
		padding-top: 0;
    margin-left: 232px;
	}
}
